In [5]:
# sara has the similar but not the same entry for all values
# entry so it will be included
student_data = {
    'id1': {
        'name': 'Sara', 
        'class': 'V', 
        'subject_integration': 'english, math, science'
    },
    'id2': {
        'name': 'David', 
        'class': 'V', 
        'subject_integration': 'english, math, science'
    },
    'id3': {
        'name': 'Sara', 
        'class': 'V', 
        'subject_integration': 'english, art, science'
    },
    'id4': {
        'name': 'Surya', 
        'class': 'V', 
        'subject_integration': 'english, math, science'
    },
}

result = {}

for key,value in student_data.items():
    if value not in result.values():
        result[key] = value

print(result)

{'id1': {'name': 'Sara', 'class': 'V', 'subject_integration': 'english, math, science'}, 'id2': {'name': 'David', 'class': 'V', 'subject_integration': 'english, math, science'}, 'id3': {'name': 'Sara', 'class': 'V', 'subject_integration': 'english, art, science'}, 'id4': {'name': 'Surya', 'class': 'V', 'subject_integration': 'english, math, science'}}

In [ ]:
# sara has the same entry so it will be deleted
student_data = {
    'id1': {
        'name': 'Sara', 
        'class': 'V', 
        'subject_integration': 'english, math, science'
    },
    'id2': {
        'name': 'David', 
        'class': 'V', 
        'subject_integration': 'english, math, science'
    },
    'id3': {
        'name': 'Sara', 
        'class': 'V', 
        'subject_integration': 'english, math, science'
    },
    'id4': {
        'name': 'Surya', 
        'class': 'V', 
        'subject_integration': 'english, math, science'
    },
}

result = {}

for key,value in student_data.items():
    if value not in result.values():
        result[key] = value

print(result)