In [21]:
# dictionary
person = {
    "first": "Corey", 
    "last": "Schafer", 
    "email": "CoreyMSchafer@gmail.com"
}

In [22]:
# dictionary with list
# useful to input several values for the same key
# keys are columns and values are rows
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [23]:
# access all the values from a key
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [24]:
import pandas as pd

In [25]:
# create data frame from dictionary
df = pd.DataFrame(people)

In [26]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [27]:
# access column from dataframe
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [28]:
# access column by dot notation
# keys become attributes
df.email

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [29]:
# series
# series is a list of data with extra functions
# series are the rows of a single column
type(df['email'])

pandas.core.series.Series

In [30]:
# get specific columns
# brackets are recommended
# dot notation can access attributes with the same numbers of columns
df[['last', 'email']]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

In [31]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [32]:
# iloc is integer location
# access rows [0,1]
# access columns 2
df.iloc[[0, 1], 2]

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

In [33]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [34]:
# access multiple columns using a list
# type data frame
df.loc[[0, 1], ['email', 'last']]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe

In [35]:
# type data frame
type(df.loc[[0, 1], ['email', 'last']])

pandas.core.frame.DataFrame

In [36]:
# get column names
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [37]:
# get one row
df.iloc[0]

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [38]:
# get multiple row
# use individual indexes
df.iloc[[0, 1]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

In [39]:
# loc uses indexes or labels
df.loc[[0, 1], ['email', 'last']]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe

In [41]:
df = pd.read_csv('E:/OneDrive/Development/github/python/libs_and_topics/pandas/schafer/data/survey_results_public.csv', index_col='Respondent')
schema_df = pd.read_csv('E:/OneDrive/Development/github/python/libs_and_topics/pandas/schafer/data/survey_results_schema.csv', index_col='Column')

In [42]:
schema_df.loc['MgrIdiot', 'QuestionText']

KeyError: 'MgrIdiot'