# Tuples

## Tuple Data Type
A tuple is a collection which is ordered and unchangeable. 
In Python tuples are written with round brackets.

In [1]:
eggs = ('hello', 42, 0.5)
eggs[0]

'hello'

In [2]:
eggs[1:3]

(42, 0.5)

In [3]:
len(eggs)

3

The main way that tuples are different from lists is that tuples, like strings, are immutable.

## Converting Types with the list and tuple Functions

In [7]:
tuple(['cat', 'dog', 5])

('cat', 'dog', 5)

In [8]:
list(('cat', 'dog', 5))

['cat', 'dog', 5]

In [9]:
list('hello')

['h', 'e', 'l', 'l', 'o']

### Sorting Touples
- python cant sort this, you need to make a function
- items plural

#### Creating a function

In [17]:
items = [ 
    ("Product1", 10),
    ("Product2", 9),
    ("Product3", 12),
]


def sort_item(item): # item singular
    # this will print item 1, the price of the list and we can sort that
    print(item[1]) # item singular

### Using . sort function
- sorts the returned value of the function, in this case, it sorts by price defined above
- you need to set a keword like key or you get an error

In [16]:
## CHECK
items = items.sort(key=sort_item) # items plural and item singular
print(items)

10
9
12

TypeError: '<' not supported between instances of 'NoneType' and 'NoneType'

### create touple
use () to create an object and python assumes its a touple

In [18]:
point = () 
print(point)

()

In [19]:
point = 1, 2 
print(point)

(1, 2)

### concatenation

In [20]:
point = (1, 2) + (3, 4) 
print(point)

(1, 2, 3, 4)

### multiplication

In [21]:
point = (1, 2) * 3 
print(point)

(1, 2, 1, 2, 1, 2)

### changes the list into a touple

In [23]:
point = tuple([1, 2]) 
point = (1, 2, 3)
print(point)

(1, 2, 3)

### return range in touple

In [24]:
point[0:2] 
print(point)

(1, 2, 3)

### unpacks the pont into the variables

In [25]:
point = (1, 2, 3)
x, y, z = point 
print(point)

(1, 2, 3)

### check if the element is in the touple

In [26]:
if 10 in point: 
    print("exists")
else:
    print("does not exist")

does not exist

## Namedtuple module

In [27]:
from collections import namedtuple

# list / tuple
color = (55,155,255)

# dictionary
color = {'red': 55, 'green': 155, 'blue': 255}

# namedtuple
Color = namedtuple('Color', ['red', 'green', 'blue'])
color = Color(blue=55,green=155,red=255)

In [29]:
Color = namedtuple('Color', ['red', 'green', 'blue'])

color = Color(55,155,255)
white = Color(255,255,255)

print(color.blue)

255

In [31]:
tuple_1 = ('History', 'Math', 'Physics', 'CompSci')
tuple_2 = tuple_1

print(tuple_1)
print(tuple_2)

('History', 'Math', 'Physics', 'CompSci')
('History', 'Math', 'Physics', 'CompSci')

In [32]:
tuple_1[0] = 'Art'

print(tuple_1)
print(tuple_2)

TypeError: 'tuple' object does not support item assignment