#  sets

From the Python 3 [documentation](https://docs.python.org/3/tutorial/datastructures.html)

- A set is an unordered collection with no duplicate elements. 
- Basic uses include membership testing and eliminating duplicate entries. 
- Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

### Initializing a set

There are two ways to create sets: using curly braces `{}` and the bult-in function `set()`

In [4]:
set_name = {1, 2, 3}

print(set_name)
print(type(set_name))

{1, 2, 3}
<class 'set'>

In [5]:
set_name = set([1, 2, 3])

print(set_name)
print(type(set_name))

{1, 2, 3}
<class 'set'>

***When creating an empty set, be sure to not use the curly braces `{}` or you will get an empty dictionary instead.***

In [6]:
set_name = {}
type(set_name)

dict

In [8]:
numbers = [1, 1, 2, 3, 4]

print(numbers)

print(type(numbers))

[1, 1, 2, 3, 4]
<class 'list'>

In [9]:
# set transforms a list and gives unique numbers
uniques = set(numbers)
print(uniques)

{1, 2, 3, 4}

In [11]:
# add element
second = {1, 4}
second.add(5)
print(second)

{1, 4, 5}

In [12]:
# .remove(value) to remove the element with that value
second.remove(5)
print(second)

{1, 4}

In [13]:
# count elements
print(len(second))

2

In [15]:
# sets do not support indexes, you need to define a function
if 1 in second: 
    print("yes")

yes

And as an unordered data type, they can't be indexed.

In [16]:
set_name = {1, 2, 3}
set_name(0)

TypeError: 'set' object is not callable

### set add and update

Using the `add()` method we can add a single element to the set.

In [17]:
set_name = {1, 2, 3}
set_name.add(4)
set_name

{1, 2, 3, 4}

And with `update()`, multiple ones .

In [18]:
set_name = {1, 2, 3}
set_name.update([2, 3, 4, 5, 6])
set_name  # remember, sets automatically remove duplicates

{1, 2, 3, 4, 5, 6}

### set remove and discard

Both methods will remove an element from the set, but `remove()` will raise a `key error` if the value doesn't exist.

In [19]:
set_name = {1, 2, 3}
set_name.remove(3)
set_name

{1, 2}

In [20]:
set_name.remove(3)

KeyError: 3

`discard()` won't raise any errors.

In [21]:
set_name = {1, 2, 3}
set_name.discard(3)
set_name

{1, 2}

In [22]:
set_name.discard(3)

### set union

`union()` or `|` will create a new set that contains all the elements from the sets provided.

In [23]:
# | is the union of sets
first = {9, 1}
second = {1, 4}
print(first | second)

{9, 4, 1}

In [24]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.union(set2)  # or 's1 | s2'

{1, 2, 3, 4, 5}

### set intersection

`intersection` or `&` will return a set containing only the elements that are common to all of them.

In [26]:
print(first & second)

{1}

In [25]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
set3 = {3, 4, 5}
set1.intersection(set2, set3)  # or 's1 & s2 & s3'

{3}

### set difference

`difference` or `-` will return only the elements that are in one of the sets.

In [27]:
# - is the difference of sets. 
# Prints whats in first but not in second
print(first - second)

{9}

In [28]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
set1.difference(set2)  # or 's1 - s2'

{1}

### set complement or symetric_difference

`symetric_difference` or `^` will return all the elements that are not common between them.

In [30]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
set1.symmetric_difference(set2)  # or 's1 ^ s2'

{1, 4}

In [31]:
# ^ is the complement of the intersection of sets. This are the elements that are only in one of the sets
print(set1 ^ set2)

{1, 4}